/**********************/
/* Estilos en general */
/**********************/
body {
    background: #02010a;
    font-family: 'Dancing Script', cursive;
}

header {
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5%;
}

img {
    box-shadow: 2px 2px #02010a;
}

.pagina-actual{
    color: #fff;
    text-shadow: 2px 2px 0px #02010a;
    font-size: 8.5vw;
}

.menu a{
    color: #fff;
    margin-right: 1rem;
}

.menu a:last-child{
    margin-right: 0;
}

.contenido {
    margin: 0 auto;
}

.imagen-central {
    background: #82c3a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.imagen-central > img {
    width: 85%;
}

.imagen-secundaria{
    background: #d5c75f;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen-secundaria > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.imagen-secundaria > div > a {
    text-align: center;
    text-decoration: none;
}

.imagen-secundaria > div > a > span {
    text-decoration: underline;
}

.imagen-secundaria > div > a > img {
    width: 85%;
}

.imagen-secundaria > div:first-child > a > img{
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.imagen-secundaria > div:first-child > a > img:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
}

.imagen-secundaria > div:last-child > a > img{
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.imagen-secundaria > div:last-child > a > img:hover{
    transform: translate(20px, -5px);
    box-shadow: 2px 2px #82c3a6;
}

/**********************/
/* Responsive < 900px */
/**********************/
@media screen and (max-width: 900px) {
    
    .menu {
        margin-top:10px;
    }
    
    .menu a{
        font-size: 5vw;
    }

    .contenido {
        width: 100%;
    }

}

/**********************/
/* Responsive > 900px */
/**********************/
@media screen and (min-width: 901px) {

    .contenido {
        max-width: 900px;
    }

}